@model DeBiLaba2.Models.Product

@{
    ViewData["Title"] = "Edit";
}

<h1>Змінити</h1>

<h4>продукт</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RelaiseFromAndDosing" class="control-label"></label>
                <input asp-for="RelaiseFromAndDosing" class="form-control" />
                <span asp-validation-for="RelaiseFromAndDosing" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ShelfLife" class="control-label"></label>
                <input asp-for="ShelfLife" class="form-control" />
                <span asp-validation-for="ShelfLife" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserId" class="control-label"></label>
                <select asp-for="UserId" class="form-control" asp-items="ViewBag.UserId"></select>
                <span asp-validation-for="UserId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Повернутися назад</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
