@model Zaput 
<!DOCTYPE html>
<html>
<head>
    <title>SimpleQueries</title>
    <style>
        body {
            font-family: Arial, sans-serif;
        }

        h1 {
            color: #333;
            text-align: center;
        }

        p {
            font-size: 16px;
            margin-top: 20px;
        }

        form {
            margin-bottom: 20px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        input[type="text"] {
            padding: 8px;
            font-size: 14px;
            border: 1px solid #ccc;
            border-radius: 4px;
        }

        button[type="submit"] {
            padding: 8px 16px;
            font-size: 14px;
            background-image: linear-gradient(to right, violet, indigo, blue, green, yellow, orange, red);
            color: #fff;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }

        button[type="submit"]:hover {
            background-image: linear-gradient(to right, violet, indigo, blue, green, yellow, orange, red);
            animation: rainbow 1s linear infinite;
        }


    </style>
</head>
<body>
    <h1>Queries</h1>
    <form asp-action="Q1">
        <p style="margin-right:20px"><b>Запит 1:</b> Знайти тримайте замовлення, які мають однаковий тип оплати та тип доставки</p>
        <button type="submit">Submit</button>
    </form>
    <form asp-action="Q2">
        <p style="margin-right:20px"><b>Query 2:</b> Some sentence</p>
        <input asp-for=UserrrId  style="margin-right:20px" type="text" placeholder="Enter input">
        <button type="submit">Submit</button>
        <label style="font-size:30px;text-align:center;display:block" class="text-danger">@TempData["Error1"]</label>
    </form>
    <form asp-action="Q3">
        <p style="margin-right:20px"><b>Query 3:</b> Some sentence</p>
        <button type="submit">Submit</button>
    </form>
    <form asp-action="Q4">
        <p style="margin-right:20px"><b>Query 4:</b> Some sentence</p>
        <input asp-for=PaymentTypeeee style="margin-right:20px" type="text" placeholder="Enter input">
        <button type="submit">Submit</button>
        <label style="font-size:30px;text-align:center;display:block" class="text-danger">@TempData["Error2"]</label>
    </form>
    <form asp-action="Q5">
        <p style="margin-right:20px"><b>Query 5:</b> Some sentence</p>
        <button type="submit">Submit</button>
    </form>
</body>
</html>
