<!DOCTYPE html>
<html>
<head>
    <title>SimpleQueries</title>
    <style>
        body {
            font-family: Arial, sans-serif;
        }

        h1 {
            color: #333;
            text-align: center;
        }

        p {
            font-size: 16px;
            margin-top: 20px;
        }

        form {
            margin-bottom: 20px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        input[type="text"] {
            padding: 8px;
            font-size: 14px;
            border: 1px solid #ccc;
            border-radius: 4px;
        }

        button[type="submit"] {
            padding: 8px 16px;
            font-size: 14px;
            background-image: linear-gradient(to right, violet, indigo, blue, green, yellow, orange, red);
            color: #fff;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }

        button[type="submit"]:hover {
            background-image: linear-gradient(to right, violet, indigo, blue, green, yellow, orange, red);
            animation: rainbow 1s linear infinite;
        }


    </style>
</head>
<body>
    <h1>Queries</h1>
    <form>
        <p style="margin-right:20px"><b>Query 1:</b> Some sentence</p>
        <input style="margin-right:20px" type="text" name="query1" placeholder="Enter input">
        <button type="submit">Submit</button>
    </form>
    <form>
        <p style="margin-right:20px"><b>Query 2:</b> Some sentence</p>
        <input style="margin-right:20px" type="text" name="query2" placeholder="Enter input">
        <button type="submit">Submit</button>
    </form>
    <form>
        <p style="margin-right:20px"><b>Query 3:</b> Some sentence</p>
        <input style="margin-right:20px" type="text" name="query3" placeholder="Enter input">
        <button type="submit">Submit</button>
    </form>
    <form>
        <p style="margin-right:20px"><b>Query 4:</b> Some sentence</p>
        <input style="margin-right:20px" type="text" name="query4" placeholder="Enter input">
        <button type="submit">Submit</button>
    </form>
    <form>
        <p style="margin-right:20px"><b>Query 5:</b> Some sentence</p>
        <input style="margin-right:20px" type="text" name="query5" placeholder="Enter input">
        <button type="submit">Submit</button>
    </form>
</body>
</html>
