<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>@ViewData["Title"]</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
        }

        .text-center {
            text-align: center;
            margin-top: 50px;
        }

        h1 {
            font-size: 36px;
            background: linear-gradient(45deg, #ff0000, #ff7f00, #ffff00, #00ff00, #0000ff, #8b00ff);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            animation: rainbow-text-animation 10s linear infinite;
        }


        p {
            font-size: 18px;
            line-height: 1.5;
            margin-top: 20px;
        }

        a {
            color: #007bff;
            text-decoration: none;
        }

        a:hover {
            text-decoration: underline;
        }
    </style>
</head>
<body>
    <div class="text-center">
        <h1>Welcome</h1>
        <p>
            Предметна область та ER-модель<br>
            Якщо перша контрольна не здавалася або при зміні предметної області, потрібна ER-модель.<br>
            Робота може виконана на базі будь-якої СУБД з мовою SQL.<br>
            Таблиці<br>
            Потрібно не менше 5 взаємно зв’язаних та заповнених даними таблиць. У периферійних таблицях<br>
            не менше 4-5 рядків, а у зв’язкових не менше 10 рядків.<br>
            Форми<br>
            1) Всі дані повинні вводитись, переглядатись та редагуватись лише через форми користувача.<br>
            2) При вводі чи редагуванні даних необхідно здійснювати контроль коректності (формату) вводу.<br>
            Наприклад, при спробі користувача ввести текст у числове поле (чи поле дати) потрібно<br>
            блокувати таку дію з відповідним повідомленням від вашої системи, а не від базової СУБД.<br>
            Інший варіант – блокувати ввід некоректних даних в індикативне поле форми, тоді потрібні<br>
            підказки на формі (постійні чи такі, які з’являються при необхідності) про бажаний формат<br>
            вводу.<br>
            3) При відкритті бази даних повинна виводитись головна форма-меню, на якій присутні<br>
            посилання на всі інші форми, запити, ввід, редагування, перегляд. На всіх інших формах повинна<br>
            бути кнопка "Повернутись до меню", або "Згорнути".
        </p>
        <p>Про лабу <a href="https://drive.google.com/file/d/1ZHoentLMnosqgiedeGY08MGz2xRV9JBJ/view">детальніше дивитись гугл док</a>.</p>
    </div>
</body>
</html>
