<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>@ViewData["Title"]</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
        }

        .text-center {
            text-align: center;
            margin-top: 50px;
        }

        h1 {
            font-size: 36px;
            background: linear-gradient(45deg, #ff0000, #ff7f00, #ffff00, #00ff00, #0000ff, #8b00ff);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            animation: rainbow-text-animation 10s linear infinite;
        }

        p {
            font-size: 18px;
            line-height: 1.5;
            margin-top: 20px;
        }

        a {
            color: #007bff;
            text-decoration: none;
        }

            a:hover {
                text-decoration: underline;
            }

        .button {
            display: inline-block;
            padding: 15px 30px; /* Adjust padding to increase button size */
            background: linear-gradient(45deg, #999999, #777777);
            color: #000;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            margin: 5px;
        }

        .button-container {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap; /* Add this line to make buttons wrap to new lines */
            margin-top: 20px;
        }
    </style>
</head>
<body>
    <div class="text-center">
        <h1>Аптека Богдан (Чебан Богдан К-27)</h1>

        <div class="button-container">
            <button class="button">
                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Домік</a>
            </button>
            <button class="button">
                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Приватність</a>
            </button>
            <button class="button">
                <a class="nav-link text-dark" asp-area="" asp-controller="Sql_queries" asp-action="Index">Прості Запити</a>
            </button>
            <button class="button">
                <a class="nav-link text-dark" asp-area="" asp-controller="Sql_queries" asp-action="Index1">Множинні Запити</a>
            </button>
            <button class="button">
                <a class="nav-link text-dark" asp-area="" asp-controller="Orders" asp-action="Index">Ордери</a>
            </button>
            <button class="button">
                <a class="nav-link text-dark" asp-area="" asp-controller="PaymentTypes" asp-action="Index">Тип Оплати</a>
            </button>
            <button class="button">
                <a class="nav-link text-dark" asp-area="" asp-controller="Products" asp-action="Index">Продуктки</a>
            </button>
            <button class="button">
                <a class="nav-link text-dark" asp-area="" asp-controller="ShipTypes" asp-action="Index">Тип Доставки</a>
            </button>
            <button class="button">
                <a class="nav-link text-dark" asp-area="" asp-controller="Users" asp-action="Index">Юзери</a>
            </button>
        </div>
        <p>Про лабу <a href="https://drive.google.com/file/d/1ZHoentLMnosqgiedeGY08MGz2xRV9JBJ/view">детальніше дивитись гугл док</a>.</p>
    </div>
</body>
</html>
