<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        .title-gradient {
            background: linear-gradient(to right, #0033ff, #0099ff);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    </style>
    <title>Політика конфіденційності</title>
</head>
<body>
    <h1><span class="title-gradient">Політика конфіденційності</span></h1>
    <p>
        Дата набрання чинності: [10.05.2023]
    </p>
    <p>
        Ця Політика конфіденційності пояснює, як ми збираємо, використовуємо, розкриваємо та захищаємо особисту інформацію під час вашого візиту та взаємодії з нашим веб-сайтом та використання наших послуг. Ми розуміємо важливість конфіденційності і зобов'язуємося захищати вашу особисту інформацію. Користуючись нашим веб-сайтом, ви погоджуєтесь з практикою, описаною в цій Політиці конфіденційності.
    </p>
    <h2>1. Інформація, яку ми збираємо:</h2>
    <p>
        <strong>1.1 Особиста інформація:</strong><br>
        Ми можемо збирати особисту інформацію, таку як ваше ім'я, адресу електронної пошти, контактну інформацію та будь-яку іншу інформацію, яку ви добровільно надаєте нам під час взаємодії з нашим веб-сайтом або використання наших послуг.
    </p>
    <p>
        <strong>1.2 Неособиста інформація:</strong><br>
        Ми також можемо збирати неособисту інформацію, включаючи, але не обмежуючись, вашу IP-адресу, тип браузера, операційну систему та іншу технічну інформацію при відвідуванні нашого веб-сайту. Ця інформація використовується для аналізу тенденцій, адміністрування сайту, відстеження руху користувачів та збору демографічної інформації для загального використання.
    </p>
    <h2>2. Використання інформації:</h2>
    <p>
        <strong>2.1 Особиста інформація:</strong><br>
        Ми використовуємо зібрану особисту інформацію для надання та поліпшення наших послуг, відповіді на ваші запити, зв'язку з вами, надсилання вам відповідної інформації або оновлень та для інших законних цілей бізнесу. Ми також можемо використовувати вашу особисту інформацію для маркетингових цілей, але лише за умови, що ви надали свою згоду.
    </p>
    <p>
        <strong>2.2 Неособиста інформація:</strong><br>
        Неособиста інформація використовується для аналізу тенденцій використання веб-сайту, адміністрування сайту, поліпшення наших послуг та збору демографічної інформації. Ця інформація може бути передана третім сторонам для цих цілей.
    </p>
    <h2>3. Зберігання даних:</h2>
    <p>
        Ми зберігатимемо вашу особисту інформацію стільки часу, скільки необхідно для досягнення цілей, визначених у цій Політиці конфіденційності, якщо закон не передбачає або не дозволяє більший термін зберігання.
    </p>
    <h2>4. Поширення інформації:</h2>
    <p>
        Ми можемо передавати вашу особисту інформацію третім сторонам лише у таких випадках:
    </p>
    <ul>
        <li>З вашої згоди або за вашим направленням.</li>
        <li>З постачальниками послуг або партнерами, які допомагають нам у роботі нашого веб-сайту або наданні послуг, за умови, що вони погоджуються зберігати конфіденційність вашої інформації.</li>
        <li>За вимогою закону, такою як виконання судового виклику або подібного юридичного процесу.</li>
        <li>У зв'язку з об'єднанням, придбанням або продажем всіх або частини наших активів в межах, дозволених законом.</li>
    </ul>
    <h2>5. Безпека:</h2>
    <p>
        Ми приймаємо розумні заходи для захисту вашої особистої інформації від несанкціонованого доступу, розкриття, зміни або знищення. Однак, немає абсолютно надійного способу передачі через Інтернет або електронного зберігання інформації, і ми не можемо гарантувати абсолютну безпеку.
    </p>
    <h2>6. Посилання на сторонні ресурси:</h2>
    <p>
        Наш веб-сайт може містити посилання на сторонні веб-сайти, які не належать або не контролюються нами. Ми не несемо відповідальності за практику конфіденційності або вміст таких сторонніх веб-сайтів. Ми рекомендуємо вам переглянути політику конфіденційності цих веб-сайтів перед наданням будь-якої особистої інформації.
    </p>
    <h2>7. Конфіденційність дітей:</h2>
    <p>
        Наші послуги не призначені для осіб, які не досягли 18-річного віку. Ми не свідомо збираємо особисту інформацію від дітей. Якщо ми виявимо, що нам була надана особиста інформація від особи, яка не досягла 18-річного віку без погодження батьків або опікуна, ми приймемо заходи для видалення цієї інформації з наших серверів.
    </p>
    <h2>8. Зміни до Політики конфіденційності:</h2>
    <p>
        Ми можемо час від часу оновлювати цю Політику конфіденційності. Ми рекомендуємо вам періодично переглядати цю сторінку для отримання оновлень. Зміни до цієї Політики конфіденційності набирають чинності в момент їх публікації на цій сторінці.
    </p>
    <h2>9. Зв'язок з нами:</h2>
    <p>
        Якщо у вас є питання або зауваження щодо цієї Політики конфіденційності, будь ласка, зв'яжіться з нами за допомогою контактної інформації, наведеної на нашому веб-сайті.
    </p>
</body>
</html>

