@model DeBiLaba2.Models.PaymentType

@{
    ViewData["Title"] = "Delete";
}

<h1>Видалення</h1>

<h3>Ти певен, що хочеш це видалити?</h3>
<div>
    <h4>PaymentType</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Desription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Desription)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Повернутися назад</a>
    </form>
</div>
